<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorldQuakeViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WorldQuakeViewer.Properties.Settings>
      <setting name="Bouyomichan_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Bouyomichan_Host" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="Bouyomichan_Port" serializeAs="String">
        <value>50001</value>
      </setting>
      <setting name="Bouyomichan_Voice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bouyomichan_Speed" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Bouyomichan_Tone" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Bouyomichan_Volume" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Tweet_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Tweet_ConsumerKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Tweet_ConsumerSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="Tweet_AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="Tweet_AccessSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="Tweet_LowerMagnitudeLimit" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Display_HideHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Display_HideHistoryMap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Text_LatLonDecimal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Tweet_LowerMMILimit" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Bouyomichan_LowerMagnitudeLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bouyomichan_LowerMMILimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Socket_Host" serializeAs="String">
        <value />
      </setting>
      <setting name="Socket_Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Sound_45_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Sound_60_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Sound_80_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Sound_Updt_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Socket_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Socket_Text" serializeAs="String">
        <value>{Text}</value>
      </setting>
      <setting name="Bouyomichan_Lower_And" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Tweet_Lower_And" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Log_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Log_DeleteTime" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="USGS_Update_Time" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="USGS_Update_HypoJP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="USGS_Update_HypoEN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="USGS_Update_LatLon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="USGS_Update_Depth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="USGS_Update_MagType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="USGS_Update_Mag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="USGS_Update_MMI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="USGS_Update_Alert" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="USGS_Update_MaxCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GFZ_Update_Time" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GFZ_Update_HypoJP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GFZ_Update_HypoEN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GFZ_Update_LatLon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GFZ_Update_Depth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GFZ_Update_MagType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GFZ_Update_Mag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WebHook_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebHook_URL" serializeAs="String">
        <value />
      </setting>
    </WorldQuakeViewer.Properties.Settings>
  </userSettings>
</configuration>